<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title>My Form</title>
  </head>
  <body>
    <form action="/SignUp">
      <h2>SignUp</h2>
      <label for="email">Email</label>
      <input type="text" name="email" required />
      <label for="password">Password</label>
      <input type="password" name="password" required />
      <div class="password error"></div>
      <p>
        Have an account <span></span>
        <a style="color: blue" href="http://localhost:3000/">click here</a>
      </p>
      <button>SignUp</button>
    </form>
    <script>
      const form = document.querySelector("form");
      const error = document.querySelector(".error");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        error.textContent = "";
        // get values
        const email = form.email.value;
        const password = form.password.value;
        try {
          const res = await fetch("/signup", {
            method: "POST",
            body: JSON.stringify({ email, password }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          if (data.code == 11000) {
            error.textContent = "email already exist";
          } else if (data.user) {
            location.assign("/game");
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script>
  </body>
</html>
